body {
    margin: 0;
    background-color: #dbdbdb;
    font-family: cursive;
}

h1 {
    text-align: center;
}

.flex-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    top: 150px;
}

.add-todo-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    align-items: center;
    border-radius: 5px;
}

input {
    width: 276px;
    height: 56px;
    border-radius: 10px;
    outline: none;
    border: 2px solid blue;
    padding: 0 10px;
    font-size: 15px;
    font-family: cursive;
}

button {
    width: 300px;
    background-color: blue;
    border: 3px solid blue;
    cursor: pointer;
    height: 60px;
    color: #FFF;
    border-radius: 10px;
}

.todo-item {
    display: flex;
    width: 259px;
    flex-direction: column;
    min-height: 84px;
    border: 3px solid blue;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: blue;
    box-shadow: 0 0 10px blue;
}

.todo-item.checked{
    background-color: darkgrey;
    opacity: 0.5;
}

.todo-item.delition {
    animation: opacity 1s ease-in-out;
}

.description {
    width: 100%;
    align-items: center;
    color: floralwhite;
    text-align: center;
}

.buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
    padding: 26px 0 10px;
}

.buttons input {
    height: 25px;
    cursor: pointer;
}

.buttons button {
    background-color: crimson;
    color: #ffffff;
    cursor: pointer;
    height: 35px;
    border: 2px solid crimson;
    border-radius: 5px;
}

.header {
    position: fixed;
    text-align: center;
    width: 100%;
    background: aliceblue;
    margin: 0 auto;
    padding: 10px 0;
    z-index: 9;
}

.btn-complete {
    outline: none;
    border: 3px solid mediumseagreen;
    background-color: mediumseagreen;
    color: #ffffff;
    cursor: pointer;
    height: 29px;
    border-radius: 5px;
    width: 151px;
    text-align: center;
}

.text_help {
    font-style: italic;
    display: none;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #ccbdbd;
}

body::-webkit-scrollbar-thumb {
    background-color: #dbdbdb;
    border-radius: 20px;
    border: 6px solid #a0a0a5;
}

@keyframes opacity {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@media(min-width: 768px){
    .todo-item {
        width: 600px;
    }

    .add-todo-wrapper {
        flex-direction: row;
        justify-content: center;
    }

    .buttons {
        justify-content: center;
    }

    input {
        cursor: pointer;
    }

    input:hover {
        box-shadow: 0 0 10px blue;
    }

    button:hover {
        transition-delay: 0.2s;
        background: #FFF;
        color: black;
        box-shadow: 0 0 10px blue;
    }

    .btn-complete:hover {
        background: #FFF;
        color: black;
        transition-delay: 0.2s;
        box-shadow: 0 0 10px mediumseagreen;
    }

    .btn-delete:hover {
        box-shadow: 0 0 10px crimson;
    }
}

@media (min-width: 1024px) {
    input {
        width: 600px;
    }

    .todo-item {
        width: 450px;
    }

    .todos-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}